@use '../base/variables.scss' as v;
@use '../base/globales.scss' as g;
@use '../base/mixins.scss' as m;


/** Footer **/
.site-footer {

    .menu {
        display: block;
        text-align: center;
    }
    a{
        text-align: center;
        color: v.$negro;
        text-align: center;
        font-size: 3rem;
        padding: 0 1rem;
        font-weight: 700;
    }
}

@include m.tablet {
       .contenido-footer .menu-principal .menu{
        display: flex;
        justify-content: flex-start;

        a {
            font-size: 2.5rem;
        }
    }
    
}


@include m.tablet {
    .site-footer .menu-principal .current_page_item {
        border-bottom: 3px solid v.$primaryColor;
    }
}



.copyright {
    text-align: center;
    font-family: v.$fuenteHeadings;;
    font-size: 1.3rem;
    margin: 2rem;
}

@include m.tablet {
    .copyright {
        font-size: 2rem;
        margin: 0 2rem;
    }
}
