@use '../base/variables.scss' as v;
@use '../base/globales.scss' as g;
@use '../base/mixins.scss' as m;

// section uno
.bienvenida {
    max-width: 100%;
  width: auto;
  padding: 0 20px;
  box-sizing: border-box;

    p {
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
    }
}

//areas 
.areas{
    display: grid;
    grid-template-columns: 1fr;

    .area {
        height: 25rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            height: 25rem;
            width: 60rem;
            object-fit: cover;
        }

        p {
            position: absolute;
            color: v.$blanco;
            font-size: 2.3rem;
            font-weight: 900;
            z-index: 1;
        }
    }
}

.area {
    position: relative;
}
.area::after {
    content: '';
    background-image: linear-gradient(rgb(0 0 0 / .75), rgb(0 0 0 / .75));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

@include m.telefono{
    .areas{
        grid-template-columns: repeat(2, 1fr);
    }
}

@include m.tablet{
     .areas {
        @include m.grid(3 ,1fr);
        }
    .area {
        height: 30rem;

        img{
            height: 30rem;
        }

        p {
            opacity: 0;
            transition: opacity .5s ease-out;
        }
    }
    .area:hover p{
        opacity: 1;
    }
}


//  Instructores
.instructor {
    margin: 2rem 0 ;
    


    img {
        display: block;
        height: 450px;
        object-fit: cover;
        
    }

    h3 {
        margin-bottom: 1rem;
    }

    .contenido {
        padding: 2rem;
       margin-top: 3px;        
    }

    .especialidad{
        margin-bottom: 1rem;
    }

    .etiqueta {
        background-color: v.$primaryColor;
        color: v.$blanco;
        text-transform: uppercase;
        font-family: v.$fuenteHeadings;
        font-size: 2.2rem;
        border-radius: .5rem;
        padding: .5rem 1.5rem;

    }
    .etiqueta:hover{
        background-color: v.$azul;
    }

    

}


@include m.tablet {
    .instructor .contenido {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        color: v.$blanco;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 1.5rem;
      
    }
     
}


.instructor ,.etiqueta:last-of-type {
    margin-right: 0;
 
}


/** Testimoniales **/
.testimoniales { background: linear-gradient(
    rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)
), url(/img/testimonial-bg.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
padding: 10rem 0;

}

.contenedor-testimoniales {
    width: min(95%, 80rem);
    margin: 0 auto;

    h2{
        font-size: 4rem;
    }

    .testimonial {
        color: v.$blanco;

        blockquote {
        position: relative;
        padding: 8rem 5rem 0rem;
        }
    }
  }

  .testimonial blockquote::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-image: url(/img/quote.svg);
    background-repeat: no-repeat;
    width: 10rem;
    height: 9rem;
  }

  .testimonial-footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  @include m.tablet {
    .testimonial-footer {
        justify-content: flex-end;
    }
  }

  .testimonial-footer {
  
  img {
     width: 8rem;
     height: 8rem;
     border-radius: 50%;

    
  }

  p {
    font-weight: 700;
    color: v.$primaryColor;
  }

}

//Header front-page
body.home .header {
    padding-top: 2rem;
    height: auto;
    min-height: 70rem;
}

@include m.tablet {
    body.home .header {
        height: 100vh;
        max-height: 90rem;
    }
}

.tagline {
    color: v.$blanco;
    margin-top: 5rem;

    h1{
        font-size: 4.5rem;
    }

    p {
        font-size: 2.5rem;
      }
  }
  @include m.tablet {
    .tagline {
      grid-row: 3 / 4;
      grid-column: 2 / 4;
      margin-top: 15rem;
  }
  }

  // Animacion Letras
  .ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }
  